body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.banner {
    background-image: url(images/donation9.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    margin-bottom: 100px;
}

.banner p {
    font-size: 20px;
}

.donaton-item {
    text-align: center;
}

.donation-money {
    display: flex;
    padding-left: 10%;
}

.donation {
    width: 18%;
    height: 70px;
    background-color: rgb(188, 185, 185);
    padding-top: 35px;
    border-radius: 5px;
    margin-right: 7%;
    text-align: center;
    margin-bottom: 100px;
}

#donate {
    width: 18%;
    height: 70px;
    background-color: rgb(255, 197, 186);
    padding-top: 35px;
    text-align: center;
    margin-right: 7%;
    border: 3px solid tomato;
    border-radius: 5px;
    margin-bottom: 100px;
}

.button {
    font-size: 20px;
    text-decoration: none;
    padding: 7px;
    background-color: tomato;
    color: #000;
    border-radius: 5px;
}

section {
    text-align: center;
    padding-top: 50px;

}

.donation-plan {
    display: flex;
    padding-left: 5%;

}

.plan {
    width: 30%;
    margin: 30px 10px;
    text-align: center;
    padding: 10px;
}

#icon {
    height: 55px;
}

#medicine {
    background-color: rgb(245, 203, 196);
}

#shelter {
    background-color: rgb(179, 193, 205);
}

#food {
    background-color: rgb(194, 243, 159);
}

form {
    background-color: rgb(216, 178, 164);
    height: 150px;
    width: 50%;
    margin: auto;
}

#email {
    height: 25px;
    width: 200px;
    margin-top: 70px;
    border-radius: 5px;
    background-color: rgb(231, 225, 225);
    border: 3px solid rgb(231, 225, 225);
}

#subscribe {
    height: 29px;
    border-radius: 5px;
    background-color: rgb(232, 103, 103);
    color: white;
    border: 3px solid rgb(232, 103, 103);
}

footer {
    text-align: center;
    margin-top: 200px;
    background-color: rgb(65, 61, 61);
    height: 200px;
    padding: 20px;
    color: white;
    font-family: 'Lobster', cursive;
    color: tomato;
}

#amount {
    border: 0px;
    margin: 30px 0px 10px 35px;
    color: black;
}

hr {
    margin-bottom: 30px;
    width: 50%;
}